docs/build
.vscode
landmark/webplotdigitizer
output

#*.png
test/*.png
*.jld2
!test/unit_tests/test_restart.jld2
!paper/*.png
!docs/*.png
run
*.json
!test/unit_tests/bfield_spt100.csv
!test/unit_tests/input_twozone.json
!test/unit_tests/input_shifted.json
